* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* PAGE STYLING */
body {
    background-color: #898f70;
    font-size: 1.3rem;
}

#content {
    text-align: center;
}

/* HOME, MENU AND CONTACT TAB STYLING */
#tabs {
    width: calc((3*140px) + (6*18px));
    margin: 0 auto;
    padding: 0;
    & .tabButton {
        height: 60px;
        width: 140px;
        background-color: #585c48;
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
        border: 0;
        border-radius: 8px;
        margin: 0 10px;
    }
    & .tabButton:hover {
        cursor: pointer;
    }
}

/* HOME STYLING */
#home {
    & p {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}

/* MENU STYLING */
.menu-item {
    font-size: 1.5rem;
}

/* IMAGE STYLING */
img {
    border-radius: 6px;
}

.wide-img {
    width: 40vw;
}

.tall-img {
    width: 15vw;
}

.square-img {
    width: 28vw;
}